<?xml version="1.0"?>
<robot name="exploration_bot">
  <material name="black">
      <color rgba="0 0 0 1"/>
  </material>
  <material name="Grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <!-- Base footprint and base link -->
  <link name="base_footprint"/>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/oskar/nav2_ws/install/neuronbot2_description/share/neuronbot2_description/meshes/neuronbot2/base_link.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/oskar/nav2_ws/install/neuronbot2_description/share/neuronbot2_description/meshes/neuronbot2/base_link.dae"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="67.621207348352"/>
      <inertia ixx="1.99723088014011" ixy="7.57325379314927E-05" ixz="-0.00153437253837653" iyy="4.46827256547793" iyz="5.22161256895355E-05" izz="2.99453182972186"/>
    </inertial>
  </link>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <!-- Left wheel -->
  <link name="wheel_left_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/oskar/nav2_ws/install/neuronbot2_description/share/neuronbot2_description/meshes/neuronbot2/wheel_left.dae"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="wheel_left_link">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
  </gazebo>
  <joint name="wheel_left_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin rpy="1.5707963267948966 0 -3.141592653589793" xyz="-0.063966038151012 0.397000000000001 -0.074000000000001"/>
  </joint>

  <!-- Right wheel -->
  <link name="wheel_right_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/oskar/nav2_ws/install/neuronbot2_description/share/neuronbot2_description/meshes/neuronbot2/wheel_right.dae"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="wheel_right_link">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
  </gazebo>
  <joint name="wheel_right_joint" type="fixed">
    <axis xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin rpy="1.5707963267948966 0 3.141592653589793" xyz="0.000499999999999834 -0.447000000000001 -0.0739999999999936"/>
  </joint>

  <!-- IMU -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="nb2_imu" type="imu">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="neuronbot2_imu">
        <ros>
          <remapping>~/out:=imu</remapping>
        </ros>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <!-- <frame_name>imu_link</frame_name> -->
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
  <!-- 2D LiDAR -->
  <link name="laser_frame">
    <inertial>
      <mass value="0.125"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://neuronbot2_description/meshes/neuronbot2/laser_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://neuronbot2_description/meshes/neuronbot2/laser_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="laser_frame_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_frame"/>
    <origin xyz="0 0 0.225" rpy="0 0 0"/>
  </joint>

  <gazebo reference="laser_frame">
    <sensor name="rp_lidar_a1" type="ray">
      <pose>0.0 0 0.02 0 0 0</pose>
      <update_rate>5.5</update_rate>
      <visualize>true</visualize>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.000000</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>20.0</max>
          <resolution>0.05</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="neuronbot2_laserscan" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_frame</frame_name>
      </plugin>
    </sensor>
  </gazebo>
  

  <!-- RealSense Camera (D435) -->
  <joint name="camera_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.765 -0.031 0.135"/>
    <parent link="base_link"/>
    <child link="camera_bottom_screw_frame"/>
  </joint>
  <link name="camera_bottom_screw_frame"/>
  <joint name="camera_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0106 0.0175 0.0125"/>
    <parent link="camera_bottom_screw_frame"/>
    <child link="camera_link"/>
  </joint>
  <link name="camera_link">
    <visual>
      <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0.0043 -0.0175 0"/>
      <geometry>
        <mesh filename="package://realsense2_description/meshes/d435.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0175 0"/>
      <geometry>
        <box size="0.02505 0.09 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
    </inertial>
  </link>
  <!-- 이하 depth, IR, color 프레임 구조도 동일하게 추가 -->
  <joint name="camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
  </joint>
  <link name="camera_depth_frame"/>
  <joint name="camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
  </joint>
  <link name="camera_depth_optical_frame"/>
  <joint name="camera_infra1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="camera_link"/>
    <child link="camera_infra1_frame"/>
  </joint>
  <link name="camera_infra1_frame"/>
  <joint name="camera_infra1_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="camera_infra1_frame"/>
    <child link="camera_infra1_optical_frame"/>
  </joint>
  <link name="camera_infra1_optical_frame"/>
  <joint name="camera_infra2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.05 0"/>
    <parent link="camera_link"/>
    <child link="camera_infra2_frame"/>
  </joint>
  <link name="camera_infra2_frame"/>
  <joint name="camera_infra2_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="camera_infra2_frame"/>
    <child link="camera_infra2_optical_frame"/>
  </joint>
  <link name="camera_infra2_optical_frame"/>
  <joint name="camera_color_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.015 0"/>
    <parent link="camera_link"/>
    <child link="camera_color_frame"/>
  </joint>
  <link name="camera_color_frame"/>
  <joint name="camera_color_optical_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
    <parent link="camera_color_frame"/>
    <child link="camera_color_optical_frame"/>
  </joint>
  <link name="camera_color_optical_frame"/>

  <gazebo reference="camera_link">
    <self_collide>0</self_collide>
    <enable_wind>0</enable_wind>
    <kinematic>0</kinematic>
    <gravity>1</gravity>
    <mu2>1</mu2>
    <fdir1>0 0 0</fdir1>
    <kp>1e+13</kp>
    <kd>1</kd>
    <sensor name="cameracolor" type="camera">
      <camera name="camera">
        <horizontal_fov>1.2112585008840648</horizontal_fov>
        <image>
          <width>848</width>
          <height>480</height>
          <format>RGB_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="cameraired1" type="camera">
      <camera name="camera">
        <horizontal_fov>1.4870205226991688</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.1</mean>
          <stddev>0.01</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>60</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="cameraired2" type="camera">
      <camera name="camera">
        <horizontal_fov>1.4870205226991688</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.1</mean>
          <stddev>0.01</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>60</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="cameradepth" type="depth">
      <camera name="camera">
        <horizontal_fov>1.4870205226991688</horizontal_fov>
        <image>
          <width>848</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.01</mean>
          <stddev>0.15</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>0</visualize>
    </sensor>
  </gazebo>
  <gazebo>
    <plugin filename="librealsense_gazebo_plugin.so" name="camera">
      <prefix>camera</prefix>
      <depthUpdateRate>30.0</depthUpdateRate>
      <colorUpdateRate>30.0</colorUpdateRate>
      <infraredUpdateRate>30.0</infraredUpdateRate>
      <depthTopicName>camera/depth/image_raw</depthTopicName>
      <depthCameraInfoTopicName>camera/depth/camera_info</depthCameraInfoTopicName>
      <colorTopicName>camera/color/image_raw</colorTopicName>
      <colorCameraInfoTopicName>camera/color/camera_info</colorCameraInfoTopicName>
      <infrared1TopicName>camera/infra1/image_raw</infrared1TopicName>
      <infrared1CameraInfoTopicName>camera/infra1/camera_info</infrared1CameraInfoTopicName>
      <infrared2TopicName>camera/infra2/image_raw</infrared2TopicName>
      <infrared2CameraInfoTopicName>camera/infra2/camera_info</infrared2CameraInfoTopicName>
      <colorOpticalframeName>camera_color_optical_frame</colorOpticalframeName>
      <depthOpticalframeName>camera_depth_optical_frame</depthOpticalframeName>
      <infrared1OpticalframeName>camera_infra1_optical_frame</infrared1OpticalframeName>
      <infrared2OpticalframeName>camera_infra2_optical_frame</infrared2OpticalframeName>
      <rangeMinDepth>0.2</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <pointCloud>true</pointCloud>
      <pointCloudTopicName>camera/depth/points</pointCloudTopicName>
      <pointCloudCutoff>0.5</pointCloudCutoff>
    </plugin>
  </gazebo>

  <!-- Planar Move 플러그인 -->
  <gazebo>
    <plugin filename="libgazebo_ros_planar_move.so" name="object_controller">
      <ros>
        <remapping>odom:=odom</remapping>
      </ros>
      <command_topic>cmd_vel</command_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>base_footprint</robot_base_frame>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>
  </gazebo>

  <!-- GPS 플러그인 -->
  <gazebo>
    <plugin filename="libhector_gazebo_ros_gps.so" name="gazebo_ros_gps">
      <updateRate>4.0</updateRate>
      <bodyName>base_link</bodyName>
      <frameId>base_link</frameId>
      <topicName>/imu/nav_sat_fix</topicName>
      <velocityTopicName>/gps/fix_velocity</velocityTopicName>
      <referenceLatitude>36.289170</referenceLatitude>
      <referenceLongitude>126.913150</referenceLongitude>
      <referenceHeading>90</referenceHeading>
      <referenceAltitude>10</referenceAltitude>
      <offset>0 0 0</offset>
      <drift>0.00001 0.00001 0.00001</drift>
      <gaussianNoise>0.0005 0.0005 0.0005</gaussianNoise>
      <velocityDrift>0.001 0.001 0.001</velocityDrift>
      <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
    </plugin>
  </gazebo>

</robot>
